.container {
    width: 50%;
    margin: auto;
}

.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
