<div class="container">
    <h2>Carrossel com 4 Imagens</h2>
    <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <app-box-item-price></app-box-item-price>
            </div>
            <div class="carousel-item">
                <app-box-item-price></app-box-item-price>
            </div>
            <div class="carousel-item">
                <app-box-item-price></app-box-item-price>
            </div>
            <div class="carousel-item">
                <app-box-item-price></app-box-item-price>
            </div>
        </div>
        <button type="button" class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
        <button type="button" class="carousel-control next" onclick="nextSlide()">&#10095;</button>
    </div>
</div>
<script src="script.js"></script>