.container {
    display: flex;
    justify-content: space-evenly;

    margin: 3rem;
}

app-nutritional-table {
    width: 35%;
}

.container_products {
    
    border: 3px solid black;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    
    background-color: gray;

    width: 60%;
}

img {
    border-radius: 8px;
}


.products {
    display: grid;

    /* grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(10px, 100%/5)), 1fr)); */
    grid-template-columns: repeat(auto-fill, 99px);
    grid-template-rows: auto;
    gap: 4px;


    justify-items: center;
    justify-content: center;

    margin: 50px;
}


.container2 {
    display: flex;
    justify-content: space-around;

    align-items: center;

    padding: 3rem 0;
}

.moreProducts {
    width: 40%;
}

app-carrocel {
    display: flex;
    width: 40%;
}