<div class="container">
    <div class="container_products">
        <div class="products">

            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
            <img [src]=[imgCover] alt="#">
        
        </div>

    </div>
    <app-nutritional-table></app-nutritional-table>
</div>

<div class="container2">
    <div class="moreProducts">
        <app-mark-category label="Adicione mais produtos"></app-mark-category>

        <section class="form">
            <label for="">Pesquise aqui:
                <input type="text" name="search">
            </label>

            <app-carrocel></app-carrocel>
        </section>
    </div>
    <app-box-total-price label="Continuar para o pagamento"></app-box-total-price>
</div>