body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 300px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: auto;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.form-group button {
    width: auto;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    border: none;
    margin-right: 10px;
}

.form-group::after {
    content: "";
    display: table;
    clear: both;
}

.group1 {
    text-align: right;
}