<div class="container">
    <h2>Lista de desejos (4)</h2>

        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>

    <app-box-total-price class="total-price" labelSubtotal="1.750,00" labelTotal="1.750,00"></app-box-total-price>

</div>


