<div class="container">
    <ul class="freeship">
        <li>
            <span class="img">🚚</span>
            <h3>Entrega grátis</h3>
            <p>Acima de 200 reais</p>
        </li>
    </ul>
    <ul class="opening_hours">
        <li>
            <span class="img">🎧</span>
            <h3>Horário de atendimento</h3>
            <p>De segunda à sexta: 8h - 17h</p>
            <p>Sábado: 8h - 12h</p>
        </li>
    </ul>
    <ul class="security">
        <li>
            <span class="img">🔐</span>
            <h3>Segurança</h3>
            <p>Sua segurança, nossa prioridade</p>
        </li>
    </ul>
</div>