<body>
        <nav class="navMenu">
          <a 
          [routerLink]="['']" 
          [routerLinkActive]="['activated']" 
          [routerLinkActiveOptions]="{exact: true}"
          >Home</a>

          <a 
          [routerLink]="['about']" 
          [routerLinkActive]="['activated']" 
          [routerLinkActiveOptions]="{exact: true}"
          >Sobre</a>

          <a 
          [routerLink]="['#']"
          [routerLinkActive]="['activated']" 
          [routerLinkActiveOptions]="{exact: true}"
          >Contato</a>
          
          <div class="dot"></div>
        </nav>
</body>
