<div class="container">
    <h3 class="title">
        Total do carrinho
    </h3>
    <ul class="subtotal">
        <li>
            Subtotal:
        </li>
        <li>
            R$1.750,00
        </li>
    </ul>
    <ul class="ship">
        <li>
            Frete:
        </li>
        <li>
            Free
        </li>
    </ul>
    <ul class="total">
        <li>
            Total:
        </li>
        <li>
            R$1.750,00
        </li>
    </ul>
    
    <app-default-button class="button"></app-default-button>
</div>
