.container{
    display: flex;

    margin: 0px 10px 0px 10px;
}

form {
    display: inline-block;

    justify-content: center;
}

.reduce {
    background-color: white;

    border: 1px solid black;
    border-radius: 4px 0 0 4px;

    padding: 4px;
}

.add {
    background-color: red;
    color: white;

    border-radius: 0 4px 4px 0;

    padding: 4px;
}