* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.quick_link {
    list-style-type: none;
}

ul li {
    padding-top: 10px;
}

ul li a {
    color: white;
    text-decoration: none;
}