<div class="container">

    <section class="text">
        <h2>
            É sobre superação
        </h2>

        <p>
            "Não importa o quão difícil seja a jornada, lembre-se de que você é mais forte do que imagina. A vida muitas vezes nos coloca à prova, mas são esses desafios que nos moldam e nos permitem alcançar alturas inimagináveis.
        </p>
        <p>
            Lembre-se de que cada obstáculo é uma oportunidade de crescimento. As dificuldades não são sinais para desistir, mas sim para mostrar a sua resiliência e determinação. Não permita que o medo de falhar o impeça de tentar, pois é através dos erros que aprendemos e crescemos.
        </p>
            Cada passo em direção aos seus objetivos é uma vitória, por menor que possa parecer. Mantenha-se focado em sua visão e nunca subestime o poder da perseverança. Quando sentir que suas forças estão se esgotando, lembre-se de todas as vezes em que superou desafios aparentemente impossíveis.
        <p>
            Você é capaz de muito mais do que imagina. Acredite em si mesmo, confie em seu potencial e não permita que nada nem ninguém o desvie do seu caminho. Seja a luz que guia o seu próprio destino e encontre a força dentro de você para persistir, independentemente das circunstâncias.
        </p>
        <p>
            A jornada da vida é repleta de altos e baixos, mas é a sua resiliência e determinação que o levarão adiante. Acredite no poder dos seus sonhos e saiba que, com dedicação e trabalho árduo, você é capaz de alcançar tudo o que almeja. Mantenha-se firme, persista e nunca duvide do seu potencial de superação."
        </p>
    </section>

    <img src="../../../assets/Suplemento box category.png" alt="">

    
</div>

<app-full-services></app-full-services>