<body>
    <app-mark-category label="Categorias"></app-mark-category>
    
    <h2>
        Pesquisar por categoria
    </h2>
    
    <div class="category">
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
        <app-box-category imgCover="../../../../assets/Suplemento box category.png" label="Termogênicos"></app-box-category>
    </div>
         <app-default-button class="button" label="Ver todos os produtos" (click)="navegarParaOutraPagina()"></app-default-button>

    <app-mark-category label="Hoje"></app-mark-category>
    <h2>
        Ofertas somente hoje
    </h2>

    <div class="offers">
        <app-carrocel></app-carrocel>
    </div>

    <app-mark-category label="Esse mês"></app-mark-category>
    <h2>
        Mais vendidos
    </h2>

    <div class="best_sellers">
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>        
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>      
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>   
    </div>

    <app-mark-category label="Futuro"></app-mark-category>
    <h2>
        Novidades
    </h2>

    <app-mark-category label="Nossos produtos"></app-mark-category>
    <h2>
        Explore Nossos Produtos
    </h2>

    <div class="explore_our_products">
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>        
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>      
        <app-box-item-price labelTitle="Nome produto" labelPrice="200"></app-box-item-price>   
    </div>
        <app-default-button class="button" label="Ver todos os produtos" 
        navegarParaOutraPagina (click)="navegarParaOutraPagina()"></app-default-button>

    <app-full-services></app-full-services>
</body>


