<body>
    <app-mark-category></app-mark-category>
    
    <h2>
        Pesquisar por categoria
    </h2>
    
    <div class="category">
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
        <app-box-category></app-box-category>
    </div>
</body>


