* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

.best_sellers {
    text-align: center;
}

.best_sellers, .explore_our_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
}

h2 {
    padding: .75rem;
}