<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="menu" (click)="toggleList()">
        <ul class="list" [ngClass]="{'hidden': isHidden}">
          <li>Gerenciar conta</li>
          <li>Meu carrinho</li>
          <li>Cancelamento</li>
          <li>Meus favoritos</li>
          <li>Logout</li>
        </ul>
      </div>
      
</body>
</html>
